<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Flask Template</title>
</head>
<body>
    

    <h1>Welcome to our API</h1>
    <h3>Please read the following documentation to ensure proper API functionality</h3>

    <h5>API functionality</h5>
    <ul>
        <li>Get catalog</li>
        <li>Create new products</li>
    </ul>
</body>
<footer>
    <h3>This is the footer</h3>
</footer>
</html>